<h3>Ruby On Rails Cloud App Development Project</h3>
<h5>This organisational application is to help with organising assignments, tasks, and everything in between to do with college.</h5>
<h5>Select an option in the navbar to get started.</h5>