<div id="<%= dom_id collegemodule %>">
  <p>
    <strong>Module Name:</strong>
    <%= collegemodule.module_name %>
  </p>

  <p>
    <strong>Module ID:</strong>
    <%= collegemodule.module_id %>
  </p>

  <p>
    <strong>Module Lecturer:</strong>
    <%= collegemodule.module_lecturer %>
  </p>

</div>