<div class="footer">
  <div class="container">
    <section>
      <p>Stay on top of your work</p>
    </section>
    <section>
      <a href="https://project4thyear-d88371033393.herokuapp.com/">Organizer.com</a>
    </section>
    <div class="text-center mt-3">
      © 2020 Copyright
    </div>
  </div>
</div>
